# Node
node_modules
dist/
.env*

# Vite/Config
vite.config.ts
vite.config.js
*.tar.gz

# macOS / OS junk
.DS_Store
Thumbs.db

# Python (if needed)
__init__.py*
__pycache__/
*.pyc

# Docker (if needed)
docker/
